
body{
    margin: 0; 
    font-family: sans-serif;
}

.header{
    margin: 20px; 
    color: white; 
    background: blue; 
    height: 70px;
}

.logo{float: left;}

.navbar{float: right;}

.navbar ul{
    list-style: none; 
    padding-top: 10px;
}

.navbar ul li{
    display: inline; 
    margin: 10px;
}

.navbar ul li a{
    text-decoration: none; 
    color: white;
}

.navbar ul li a:hover{border-bottom: 2px solid white;}

.gambar{
    width: 90%; 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    margin: auto;
}

.gambar .foto img{width: 300px;}

.foto{
    border: 1px solid white; 
    margin: 15px; 
    text-align: center;
}

.foto a{
    border: 1px solid blue; 
    padding: 10px; color: white; 
    background: blue; 
    text-decoration: none; 
    border-radius: 20px; 
    cursor: pointer;
}

.footer{
    text-align: center; 
    margin: 20px; color: white; 
    background: black; 
    height: 180px;
}

.footer a{
    text-decoration: none; 
    color: #ffffff; 
    font-weight: bold;
}

.footer p{
    color: white; 
    padding-top: 5px;
}

p{
    font-weight: bold; 
    color: green;
}

li{list-style: none;}

.depan{
    padding:5px; 
    text-align: center; 
    font-family: serif;
}

.depan p{
    color: teal; 
    font-family: lucida;
}

.depan img{width: 1000px;}

.foto img{width: 300px;}
